.math-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    width: 50%;
    padding: 1.5em;
    border: 2px solid darkgreen;
    background: rgba(0, 255, 0, 0.05);
}

.math-buttons {
    display: flex;
    justify-content: space-between;
}

.math-buttons button {
    width: 45%;
}
